<launch>

<!-- arguments are set via terminal and can have a default value -->
<arg name="robot_name" default="thymio10" />
<arg name="world" default="test" />

<!-- nodes are exectued -->
<include file="$(find learning_to_drive)/launch/thymio_gazebo_bringup.launch">
    <arg name="name" value="/$(arg robot_name)"/>
    <arg name="world" value="/$(arg world)"/>
</include>

<node pkg="learning_to_drive" name="spawn_products_in_bins" type="obstacle_spawner_test.py" output="screen">
</node>

</launch>
